@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&display=swap');

@font-face {
  font-family: 'Work Sans';
  src: url('/static/ttf/WorkSans[wght].woff2') format('woff2');
}

@font-face {
  font-family: "routed-wide";
  src: url("/static/ttf/routed-gothic-wide.ttf");
}

@font-face {
  font-family: "routed";
  src: url("/static/ttf/routed-gothic.ttf");
}

@font-face {
  font-family: "routed-italic";
  src: url("/static/ttf/routed-gothic-italic.ttf");
}

@font-face {
  font-family: "routed-half-italic";
  src: url("/static/ttf/routed-gothic-half-italic.ttf");
}

@font-face {
  font-family: "routed-narrow";
  src: url("/static/ttf/routed-gothic-narrow.ttf");
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color: #e84b0f;
  --epaisseur: 1.5pt;
}

/* ------------------ */
/*      STRUCTURE     */
/* ------------------ */

html {
  background: gray;
  display: flex;
  font-family: 'routed';
  font-size: 10pt;
  align-items: start;
  justify-content: center;
  padding: 2rem;
}

.hidden {
 display: none;
}

body {
  background: white;
  border: solid black 1px;
  color: var(--color);
  line-height: 1.1;
  width: 297mm;
  height: 420mm;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
}

section {
  position: relative;
  display: grid;
  height: 50%;
  width: 100%;
}

#haut {
  align-items: end;
  justify-content: center;
  grid-template-rows: 1fr auto;
  padding: 10mm 5mm 2.5mm 5mm;
}

#bas {
  /* background: red; */
  align-items: start;
  justify-content: start;
  grid-template-rows: auto 1fr 3fr;
  padding: 2.5mm 5mm 10mm 5mm;
  margin-top: var(--epaisseur); /* fix pour la superposition de borders :) */
}

#haut .col {
  grid-row: 2 / 2;
  grid-column: span 2;
}

#bas .col {
  grid-row: 1 / 2;
}

#rangee2 {
  grid-row: 2 / 3;
}

#bas-bas {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  height: 100%;
  position: absolute;
  /* Cette grid est aussi une grid */
  display: grid;
  grid-template-rows: 1fr auto;
}

#bas-bas img {
  margin-left: -5mm;
}

.ar {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  text-align: right;
  margin-bottom: .1em;
}


/* ------------------ */
/*        EVENTS      */
/* ------------------ */


article {
  border: solid var(--color) var(--epaisseur);
  font-weight: 500;
  padding: .5rem;
  margin: calc(var(--epaisseur) * -1) calc(var(--epaisseur) * -0.5);
}

article.gridevent:nth-of-type(even) {
  margin-left: 1.5rem;
}

li.gridevent:nth-of-type(odd) {
  margin-right: 1.5rem;
}

#info-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: fit-content;
  align-self: flex-end;
  margin-top: auto;
}

#info-container article {
  margin-right: calc(var(--epaisseur) * -1);
}

.infos-pratiques {
  text-align: center;
  line-height: 1.1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.infos-pratiques > * {
  width: 25%;
}

.date {
  width: 50%;
	font-size: 2rem;
  font-family: "routed-wide";
}

.jour {
  border-bottom: var(--epaisseur) solid;
  display: inline-block;
  padding-bottom: .25em;
  margin-bottom: .25em;
}

.heure {
  text-align: right;
}

.titre {
	font-size: 2.25rem;
  font-family: "routed-wide";
  align-self: center;
}

.titre .eventTitle {
  text-transform: uppercase;
  text-align: center;
  margin: .25em 0;
  -webkit-text-stroke-width: calc(var(--epaisseur) / 1.25);
  -webkit-text-stroke-color: var(--color);
  color: white;
}

.type{
  text-transform: lowercase;
  font-family: "routed-half-italic";
  font-size: 1rem;
  text-align: center;
  padding-top: .25em;
  margin-bottom: -.25em;
}

.lieu{
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: left;
}

.description-orga {
  grid-column: 3;
  align-self: center;
  margin-top: .5em;

}

.description,
.infos {
  font-size: 1rem;
  line-height: 1.2;
  padding-bottom: .5rem;
  margin: 0;
  padding: 0;
  font-family: "routed";
}


.price {
  border: 1px solid;
  border-radius: 5px;
  padding: 1px 3px;
  font-family: 'routed-narrow';
}

.infos {
  font-size: .8rem;
}

#descriptions {
  gap: 1em;
  padding-right: 5rem;
}

img {
  max-height: 100%;
  max-width: 100%;
}

/* ------------------ */
/*        INFOS       */
/* ------------------ */

article {
  /* display:none; */
}

img {
  position: absolute;
  /* border: solid var(--color) var(--epaisseur); */
  /* max-height: 50%; */
  /* display:none; */
}

.infos-fixes {
  /* border: solid var(--color) var(--epaisseur); */
  position: relative;
}

#haut .infos-fixes {
  align-self: start;
  margin-bottom:3%;
}

#bas .infos-fixes,
#bas-bas .infos-fixes {
  align-self: end;
}

#adresse {
  grid-row: 1 / 1;
  grid-column: 3 / 10;
  font-size: 1.9rem;
  text-align: right;
  border-bottom: calc(var(--epaisseur) * 10) solid;
  text-align-last: justify;
  /* line-height: 1.5; */
}

#site {
  position: absolute;
  top: 1.83cm;
  right: 5mm;
  padding-right: var(--epaisseur);
  color: white;
  font-size: 1.15rem;
  /* line-height: 1.01; */
}

#annee {
  grid-row: 1 / 1;
  grid-column: 1 / 2;
  font-family: "routed-wide";
  font-size: 1.9rem;
  border-bottom: calc(var(--epaisseur) * 10) solid;
  text-align-last: justify;
  /* line-height: 1.5; */
}

#habitantes,
#infos-maxima {
  border-top: calc(var(--epaisseur) * 10) solid;
  padding-top: calc(var(--epaisseur) * 3);
  font-size: 9pt;
  /* border-radius: 120px; */
}

#infos-maxima {
  margin-right: calc(var(--epaisseur) * 3);
}

#habitantes {
  margin-left: calc(var(--epaisseur) * 3);
}

#habitantes .mail {
  text-align: right;
  text-decoration: underline;
}

#soutien {
  font-size: .75rem;
  padding-top: 4px;
  padding-top: 1.22pt;
  line-height: 1.22;
}


@media print {

  /* :root { */
  /*   --color: black; */
  /* } */

  @page {
    size: A3;
    margin: 0;
    padding: 0;
  }

  html {
    padding: 0;
    margin: 0;
    page-break-after: avoid;
  }

  /* img { */
  /*   filter: grayscale(1) contrast(10); */
  /* } */

  /* body { */
  /*   border: 0; */
  /* } */

}
